* {
    position: 0;
    margin: 0;

}

header {
    background-color: rgb(0, 0, 0);
    border-bottom: 2px rgb(255, 255, 255) solid;
}

.container {
    background-color: rgb(0, 0, 0);
    width: 1100px;
    height: 110px;
   margin: auto;
   max-width: 1024px;
    padding: 20px;
    border-bottom: 0,1px rgb(255, 255, 255) solid;
    
}

.container img {
    height: 75px;
    float: left;
}
.container nav {
    background-color: rgba(240, 248, 255, 0);
    padding: 0 20px;
    float: right;
}

.container::after {
    content: "";
    display: block;
    clear: both;

}

.fg {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0 10px;
}

.container nav li {
    display: inline-block;
    font-size: 25px;
    
}

.container nav ul {
    float: right;
    padding: 0;
    margin: 0;
}

nav a {
    line-height: 75px;
    padding: 15px;
    
}

.fg:hover {
   color: rgb(134, 134, 134);
}


.Sign {
  background-color: rgb(255, 0, 0);
  border-radius: 15%;
}
.gh {
    color: white;
    text-decoration: none;
}

.slogan {
    background-color: black;
    color: white;
     text-align: center;
     border-bottom: 1px white solid;
      
      height: 170px;
      padding: 50px;

}



body {
    background: rgb(223,235,36);
background: linear-gradient(90deg, rgba(223,235,36,1) 46%, rgba(255,198,63,1) 58%, rgba(255,203,80,1) 58%);
  }
  
  .slogan h1 {
    font-style: italic;
    font-size: 50px;
  }

.slogan div{
    background-color: red;
    margin: 50px auto;
    width: 150px;
    border-radius: 20px;
}